## Part 0. Dataset Preparation

### Data Collection

This part of the methodology involves dataset preparation. First of all, the dataset was downloaded from PSA OpenStat's Open Source website. From the main page, we navigate towards `Agriculture, Forestry, and Fisheries` > `Fisheries`. We then scroll downwards to find [Aquaculture: Volume of Production by Species, Geolocation, Year and Quarter](https://openstat.psa.gov.ph/PXWeb/pxweb/en/DB/DB__2E__FS/0092E4GVAP1.px/?rxid=bdf9d8da-96f1-4100-ae09-18cb3eaeb313t) and [Aquaculture: Value of Production by Species, Geolocation, Year and Quarter](https://openstat.psa.gov.ph/PXWeb/pxweb/en/DB/DB__2E__FS/0102E4GCAP1.px/?rxid=bdf9d8da-96f1-4100-ae09-18cb3eaeb313t). To extract the necessary information for each table, the group performed the following steps:
1. Under `Species`, we select all by clicking the check button.
2. Under `Geolocation`, type and enter `Region` to select all region as the values for our `Geolocation` feature.
3. Under `Year`, we only select those from 2020 to 2024.
4. Under `Quarter`, we only choose to include Quarter 1 to Quarter 4.
5. Download the table in `csv` format.

Now that we have downloaded two datasets, we now proceed to preprocessing our dataset to transform it into something workable for our analysis.

### Data Preprocessing

We first import all necessary libraries and check the preliminary contents of each dataset. Note though that both datasets contains the same set of columns, as indicated from the options we've included from the data collection part which means that we can redo the same set of steps that will be done on one dataset to the other.

In [1]:
import os
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt

In [2]:
aquaculture_value = './Dataset/Aquaculture Value of Production by Species, Geolocation, Year and Quarter.csv'
aquaculture_volume = './Dataset/Aquaculture Volume of Production by Species, Geolocation, Year and Quarter.csv'

value_df = pd.read_csv(aquaculture_value, skiprows=2)
volume_df = pd.read_csv(aquaculture_volume, skiprows=2)

### Value Dataset Preprocessing

We check the first five values of the `Value` dataset and some basic statistics and summary.

In [3]:
value_df.head()

,Species,Geolocation,2020 Quarter 1,2020 Quarter 2,2020 Quarter 3,2020 Quarter 4,2021 Quarter 1,2021 Quarter 2,2021 Quarter 3,2021 Quarter 4,...,2022 Quarter 3,2022 Quarter 4,2023 Quarter 1,2023 Quarter 2,2023 Quarter 3,2023 Quarter 4,2024 Quarter 1,2024 Quarter 2,2024 Quarter 3,2024 Quarter 4
0,All Species,..National Capital Region (NCR),10190.23,7107.16,31109.24,690.61,5612.63,13116.33,25643.24,3145.26,...,25025.90,25705.39,45180.57,82414.05,53537.64,20412.98,17456.54,55008.25,28303.01,6722.96
1,All Species,..Cordillera Administrative Region (CAR),72535.13,71605.89,63179.79,83469.73,86797.81,86806.70,73271.87,96993.03,...,89126.50,95616.17,82654.88,110723.10,74849.87,85026.09,94935.26,81611.16,93064.73,111993.23
2,All Species,..Region I (Ilocos Region),3062615.94,2935063.73,2277160.92,8225306.14,3318099.54,3627335.60,3055883.81,9651054.24,...,4008946.21,8536942.72,3815418.54,5166955.22,4418993.45,9226910.19,3557411.46,4276436.66,3798706.51,9894699.27
3,All Species,..Region II (Cagayan Valley),213501.70,673595.33,465509.14,512671.28,224298.32,709289.25,449045.07,569854.45,...,706846.76,573447.57,368371.15,1013956.41,754175.87,628779.78,435131.55,860602.55,808622.41,460937.65
4,All Species,..Region III (Central Luzon),9137119.99,14120277.00,4624628.78,10242874.70,10120596.51,14887526.14,5105722.25,11782029.78,...,4413429.04,11983872.94,13183639.32,13028333.57,6870963.18,14298248.00,14127397.93,9265737.61,5510636.98,13398491.78

In [4]:
value_df.shape

(340, 22)

In [5]:
value_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340 entries, 0 to 339
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Species         340 non-null    object
 1   Geolocation     340 non-null    object
 2   2020 Quarter 1  340 non-null    object
 3   2020 Quarter 2  340 non-null    object
 4   2020 Quarter 3  340 non-null    object
 5   2020 Quarter 4  340 non-null    object
 6   2021 Quarter 1  340 non-null    object
 7   2021 Quarter 2  340 non-null    object
 8   2021 Quarter 3  340 non-null    object
 9   2021 Quarter 4  340 non-null    object
 10  2022 Quarter 1  340 non-null    object
 11  2022 Quarter 2  340 non-null    object
 12  2022 Quarter 3  340 non-null    object
 13  2022 Quarter 4  340 non-null    object
 14  2023 Quarter 1  340 non-null    object
 15  2023 Quarter 2  340 non-null    object
 16  2023 Quarter 3  340 non-null    object
 17  2023 Quarter 4  340 non-null    object
 18  2024 Quarter 1  340 non-null    object
 19  2024 Quarter 2  340 non-null    object
 20  2024 Quarter 3  340 non-null    object
 21  2024 Quarter 4  340 non-null    object
dtypes: object(22)
memory usage: 58.6+ KB

In [6]:
value_df.describe()

,Species,Geolocation,2020 Quarter 1,2020 Quarter 2,2020 Quarter 3,2020 Quarter 4,2021 Quarter 1,2021 Quarter 2,2021 Quarter 3,2021 Quarter 4,...,2022 Quarter 3,2022 Quarter 4,2023 Quarter 1,2023 Quarter 2,2023 Quarter 3,2023 Quarter 4,2024 Quarter 1,2024 Quarter 2,2024 Quarter 3,2024 Quarter 4
count,340,340,340,340,340,340,340,340,340,340,...,340,340,340,340,340,340,340,340,340,340
unique,20,17,240,243,242,246,235,238,237,248,...,248,248,255,252,240,240,239,252,241,249
top,All Species,..National Capital Region (NCR),..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
freq,17,20,99,96,97,94,100,98,102,91,...,92,93,86,89,101,101,102,89,100,91

Note from the `info()` summary above, there seems to be something that misleads us about the summary of the dataset since based on the `describe()` cell, the `top` value (most frequent) on the Year-Quarter columns is `..`. This string doesn't correspond to a valid quantitative value which may mean that it might pertain to a `NULL` value instead. We verify the count of the `..` string if this is indeed the case but before that, we first verify if the `Species` and `Geolocation` columns are consistent.

In [68]:
print(value_df['Species'].unique())

print(value_df['Geolocation'].unique())

['All Species' '..Milkfish' '..Tilapia' '..Tiger Prawn' '..Mudcrab'
 '..Endeavor Prawn' '..White Shrimp' '..Grouper' '..Siganid'
 '..P. Vannamei' '..Spiny Lobster' '..Carp' '..Catfish' '..Gourami'
 '..Mudfish' '..Freshwater Prawn' '..Others' '..Oyster' '..Mussel'
 '..Seaweed']
['..National Capital Region (NCR)'
 '..Cordillera Administrative Region (CAR)' '..Region I (Ilocos Region)'
 '..Region II (Cagayan Valley)' '..Region III (Central Luzon)'
 '..Region IV-A (CALABARZON)' '..MIMAROPA Region'
 '..Region V (Bicol Region)' '..Region VI (Western Visayas)'
 '..Region VII (Central Visayas)' '..Region VIII (Eastern Visayas)'
 '..Region IX (Zamboanga Peninsula)' '..Region X (Nothern Mindanao)'
 '..Region XI (Davao Region)' '..Region XII (SOCCSKSARGEN)'
 '..Region XIII (Caraga)'
 '..Bangsamoro Autonomous Region in Muslim Mindanao (BARMM)']

Since they all refer to valid specie and location, we can proceed to the Year-Quarter combinations.

In [ ]:
year_quarter_cols = value_df.columns[2:]

for col in year_quarter_cols:
    filtered_df = value_df[value_df[col] == '..']
    print(f'{col}: {filtered_df.shape[0]} / {value_df.shape[0]} = {filtered_df.shape[0] / value_df.shape[0]}%')

2020 Quarter 1: 99 / 340
2020 Quarter 2: 96 / 340
2020 Quarter 3: 97 / 340
2020 Quarter 4: 94 / 340
2021 Quarter 1: 100 / 340
2021 Quarter 2: 98 / 340
2021 Quarter 3: 102 / 340
2021 Quarter 4: 91 / 340
2022 Quarter 1: 90 / 340
2022 Quarter 2: 98 / 340
2022 Quarter 3: 92 / 340
2022 Quarter 4: 93 / 340
2023 Quarter 1: 86 / 340
2023 Quarter 2: 89 / 340
2023 Quarter 3: 101 / 340
2023 Quarter 4: 101 / 340
2024 Quarter 1: 102 / 340
2024 Quarter 2: 89 / 340
2024 Quarter 3: 100 / 340
2024 Quarter 4: 91 / 340

As we can see, a decent amount of samples contain `NULL` values under each Year-Quarter columns. Before we impute, we first transform each `..` string into `NULL`.

In [9]:
value_df = value_df.replace({'..': np.nan})

In [10]:
for col in year_quarter_cols:
    filtered_df = value_df[value_df[col] == '..']
    print(f'{col}: {filtered_df.shape[0]} / {value_df.shape[0]}')

2020 Quarter 1: 0 / 340
2020 Quarter 2: 0 / 340
2020 Quarter 3: 0 / 340
2020 Quarter 4: 0 / 340
2021 Quarter 1: 0 / 340
2021 Quarter 2: 0 / 340
2021 Quarter 3: 0 / 340
2021 Quarter 4: 0 / 340
2022 Quarter 1: 0 / 340
2022 Quarter 2: 0 / 340
2022 Quarter 3: 0 / 340
2022 Quarter 4: 0 / 340
2023 Quarter 1: 0 / 340
2023 Quarter 2: 0 / 340
2023 Quarter 3: 0 / 340
2023 Quarter 4: 0 / 340
2024 Quarter 1: 0 / 340
2024 Quarter 2: 0 / 340
2024 Quarter 3: 0 / 340
2024 Quarter 4: 0 / 340

In [11]:
value_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340 entries, 0 to 339
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Species         340 non-null    object
 1   Geolocation     340 non-null    object
 2   2020 Quarter 1  241 non-null    object
 3   2020 Quarter 2  244 non-null    object
 4   2020 Quarter 3  243 non-null    object
 5   2020 Quarter 4  246 non-null    object
 6   2021 Quarter 1  240 non-null    object
 7   2021 Quarter 2  242 non-null    object
 8   2021 Quarter 3  238 non-null    object
 9   2021 Quarter 4  249 non-null    object
 10  2022 Quarter 1  250 non-null    object
 11  2022 Quarter 2  242 non-null    object
 12  2022 Quarter 3  248 non-null    object
 13  2022 Quarter 4  247 non-null    object
 14  2023 Quarter 1  254 non-null    object
 15  2023 Quarter 2  251 non-null    object
 16  2023 Quarter 3  239 non-null    object
 17  2023 Quarter 4  239 non-null    object
 18  2024 Quarter 1  238 non-null    object
 19  2024 Quarter 2  251 non-null    object
 20  2024 Quarter 3  240 non-null    object
 21  2024 Quarter 4  249 non-null    object
dtypes: object(22)
memory usage: 58.6+ KB

We can now proceed to imputation since we now have valid `NULL` values. For imputation, we first identify if utilizing the mean of each time series data for each `Species` - `Geolocation` combination could affect the output.

In [12]:
from sklearn.impute import KNNImputer
from sklearn.preprocessing import LabelEncoder

In [14]:
impute_df = value_df.copy()

labeled_species = LabelEncoder()
labeled_geo = LabelEncoder()

impute_df['Species_encoded'] = labeled_species.fit_transform(impute_df['Species'])
impute_df['Geolocation_encoded'] = labeled_geo.fit_transform(impute_df['Geolocation'])

knn_features = pd.concat([
    impute_df[['Species_encoded', 'Geolocation_encoded']]
], axis=1)

for col in year_quarter_cols:
    knn_imputer = KNNImputer(n_neighbors=3)
    imputed_data = pd.DataFrame(
        knn_imputer.fit_transform(pd.concat([knn_features, impute_df[[col]]], axis=1)),
        columns=list(knn_features.columns) + [col]
    )

    value_df[col] = imputed_data[col]

In [16]:
value_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340 entries, 0 to 339
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Species         340 non-null    object
 1   Geolocation     340 non-null    object
 2   2020 Quarter 1  340 non-null    float64
 3   2020 Quarter 2  340 non-null    float64
 4   2020 Quarter 3  340 non-null    float64
 5   2020 Quarter 4  340 non-null    float64
 6   2021 Quarter 1  340 non-null    float64
 7   2021 Quarter 2  340 non-null    float64
 8   2021 Quarter 3  340 non-null    float64
 9   2021 Quarter 4  340 non-null    float64
 10  2022 Quarter 1  340 non-null    float64
 11  2022 Quarter 2  340 non-null    float64
 12  2022 Quarter 3  340 non-null    float64
 13  2022 Quarter 4  340 non-null    float64
 14  2023 Quarter 1  340 non-null    float64
 15  2023 Quarter 2  340 non-null    float64
 16  2023 Quarter 3  340 non-null    float64
 17  2023 Quarter 4  340 non-null    float64
 18  2024 Quarter 1  340 non-null    float64
 19  2024 Quarter 2  340 non-null    float64
 20  2024 Quarter 3  340 non-null    float64
 21  2024 Quarter 4  340 non-null    float64
dtypes: float64(20), object(2)
memory usage: 58.6+ KB

Now that we're done with the imputation, we can now proceed in standardizing column values and dataset formatting. Since we're done preprocessing the values for the values for each year-quarter combination, we proceed to preprocessing the values for the `Species` and `Geolocation` columns.

In [17]:
value_df['Species'].unique()

array(['All Species', '..Milkfish', '..Tilapia', '..Tiger Prawn',
       '..Mudcrab', '..Endeavor Prawn', '..White Shrimp', '..Grouper',
       '..Siganid', '..P. Vannamei', '..Spiny Lobster', '..Carp',
       '..Catfish', '..Gourami', '..Mudfish', '..Freshwater Prawn',
       '..Others', '..Oyster', '..Mussel', '..Seaweed'], dtype=object)

In [18]:
value_df['Geolocation'].unique()

array(['..National Capital Region (NCR)',
       '..Cordillera Administrative Region (CAR)',
       '..Region I (Ilocos Region)', '..Region II (Cagayan Valley)',
       '..Region III (Central Luzon)', '..Region IV-A (CALABARZON)',
       '..MIMAROPA Region', '..Region V (Bicol Region)',
       '..Region VI (Western Visayas)', '..Region VII (Central Visayas)',
       '..Region VIII (Eastern Visayas)',
       '..Region IX (Zamboanga Peninsula)',
       '..Region X (Nothern Mindanao)', '..Region XI (Davao Region)',
       '..Region XII (SOCCSKSARGEN)', '..Region XIII (Caraga)',
       '..Bangsamoro Autonomous Region in Muslim Mindanao (BARMM)'],
      dtype=object)

Since the list is exhaustible, we can see that the formatting for each `Species` and `Geolocation` values are not standardized.

In [19]:
def remove_dots(string):
    if string[:2] == '..':
        return string[2:]
    return string

value_df['Species'] = value_df['Species'].apply(remove_dots)
value_df['Geolocation'] = value_df['Geolocation'].apply(remove_dots)

In [20]:
value_df['Species'].unique()

array(['All Species', 'Milkfish', 'Tilapia', 'Tiger Prawn', 'Mudcrab',
       'Endeavor Prawn', 'White Shrimp', 'Grouper', 'Siganid',
       'P. Vannamei', 'Spiny Lobster', 'Carp', 'Catfish', 'Gourami',
       'Mudfish', 'Freshwater Prawn', 'Others', 'Oyster', 'Mussel',
       'Seaweed'], dtype=object)

In [21]:
value_df['Geolocation'].unique()

array(['National Capital Region (NCR)',
       'Cordillera Administrative Region (CAR)',
       'Region I (Ilocos Region)', 'Region II (Cagayan Valley)',
       'Region III (Central Luzon)', 'Region IV-A (CALABARZON)',
       'MIMAROPA Region', 'Region V (Bicol Region)',
       'Region VI (Western Visayas)', 'Region VII (Central Visayas)',
       'Region VIII (Eastern Visayas)', 'Region IX (Zamboanga Peninsula)',
       'Region X (Nothern Mindanao)', 'Region XI (Davao Region)',
       'Region XII (SOCCSKSARGEN)', 'Region XIII (Caraga)',
       'Bangsamoro Autonomous Region in Muslim Mindanao (BARMM)'],
      dtype=object)

Also, the formatting of the dataset is in wide format. We fix this by making it long so that it would be suitable for time series analysis.

In [22]:
value_df = value_df.melt(['Species', 'Geolocation'], var_name="Year-Quarter", value_name="Value", ignore_index=True)

Now, our dataset looks like the following.

In [23]:
value_df.head()

,Species,Geolocation,Year-Quarter,Value
0,All Species,National Capital Region (NCR),2020 Quarter 1,10190.23
1,All Species,Cordillera Administrative Region (CAR),2020 Quarter 1,72535.13
2,All Species,Region I (Ilocos Region),2020 Quarter 1,3062615.94
3,All Species,Region II (Cagayan Valley),2020 Quarter 1,213501.70
4,All Species,Region III (Central Luzon),2020 Quarter 1,9137119.99

We can also split the `Year-Quarter` column into two: `Year` and `Quarter`.

In [24]:
value_df['Year'] = value_df['Year-Quarter'].str[:4]
value_df['Quarter'] = value_df['Year-Quarter'].str[4:]
value_df.drop(['Year-Quarter'], axis=1, inplace=True)

In [25]:
value_df.head()

,Species,Geolocation,Value,Year,Quarter
0,All Species,National Capital Region (NCR),10190.23,2020,Quarter 1
1,All Species,Cordillera Administrative Region (CAR),72535.13,2020,Quarter 1
2,All Species,Region I (Ilocos Region),3062615.94,2020,Quarter 1
3,All Species,Region II (Cagayan Valley),213501.70,2020,Quarter 1
4,All Species,Region III (Central Luzon),9137119.99,2020,Quarter 1

And with this, we're done preprocessing the `Value` dataset. We now proceed and do the same for the `Volume` dataset.

## Volume Dataframe Check

Just like the `Value` dataset, we perform the same set of steps for the `Volume` dataset.

1. Check a quick summary.
2. Clean the data through imputation and data type fixing.
3. Transform each column and dataset format.

In [42]:
volume_df.head()

,Species,Geolocation,2020 Quarter 1,2020 Quarter 2,2020 Quarter 3,2020 Quarter 4,2021 Quarter 1,2021 Quarter 2,2021 Quarter 3,2021 Quarter 4,...,2022 Quarter 3,2022 Quarter 4,2023 Quarter 1,2023 Quarter 2,2023 Quarter 3,2023 Quarter 4,2024 Quarter 1,2024 Quarter 2,2024 Quarter 3,2024 Quarter 4
0,All Species,..National Capital Region (NCR),250.84,173.13,704.16,9.79,120.30,202.76,407.66,53.25,...,417.54,441.13,645.99,1070.29,756.30,342.91,318.32,966.50,522.04,121.35
1,All Species,..Cordillera Administrative Region (CAR),703.32,657.13,602.62,796.91,841.41,845.93,692.55,1058.62,...,835.39,813.45,728.97,947.45,603.71,661.67,843.57,672.18,803.34,895.92
2,All Species,..Region I (Ilocos Region),27212.01,28033.82,20562.67,70587.18,27449.49,33321.23,25196.25,70151.75,...,30958.20,71668.12,25874.87,39569.70,28319.94,70581.84,23819.94,38305.78,28513.12,69213.66
3,All Species,..Region II (Cagayan Valley),2073.65,4977.96,3331.42,2938.08,2088.81,5365.73,3443.46,3135.44,...,3981.49,3045.96,2191.20,6415.65,4209.86,3137.27,2610.20,5047.21,4567.90,2631.41
4,All Species,..Region III (Central Luzon),74439.96,122128.99,29542.09,62940.50,79350.56,118902.20,30325.21,70490.25,...,33066.28,71157.22,94444.91,86528.76,46514.69,72161.02,104030.72,82102.63,39751.11,74445.00

In [43]:
volume_df.shape

(340, 22)

In [44]:
volume_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 340 entries, 0 to 339
Data columns (total 22 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Species         340 non-null    object
 1   Geolocation     340 non-null    object
 2   2020 Quarter 1  340 non-null    object
 3   2020 Quarter 2  340 non-null    object
 4   2020 Quarter 3  340 non-null    object
 5   2020 Quarter 4  340 non-null    object
 6   2021 Quarter 1  340 non-null    object
 7   2021 Quarter 2  340 non-null    object
 8   2021 Quarter 3  340 non-null    object
 9   2021 Quarter 4  340 non-null    object
 10  2022 Quarter 1  340 non-null    object
 11  2022 Quarter 2  340 non-null    object
 12  2022 Quarter 3  340 non-null    object
 13  2022 Quarter 4  340 non-null    object
 14  2023 Quarter 1  340 non-null    object
 15  2023 Quarter 2  340 non-null    object
 16  2023 Quarter 3  340 non-null    object
 17  2023 Quarter 4  340 non-null    object
 18  2024 Quarter 1  340 non-null    object
 19  2024 Quarter 2  340 non-null    object
 20  2024 Quarter 3  340 non-null    object
 21  2024 Quarter 4  340 non-null    object
dtypes: object(22)
memory usage: 58.6+ KB

In [45]:
volume_df.describe()

,Species,Geolocation,2020 Quarter 1,2020 Quarter 2,2020 Quarter 3,2020 Quarter 4,2021 Quarter 1,2021 Quarter 2,2021 Quarter 3,2021 Quarter 4,...,2022 Quarter 3,2022 Quarter 4,2023 Quarter 1,2023 Quarter 2,2023 Quarter 3,2023 Quarter 4,2024 Quarter 1,2024 Quarter 2,2024 Quarter 3,2024 Quarter 4
count,340,340,340,340,340,340,340,340,340,340,...,340,340,340,340,340,340,340,340,340,340
unique,20,17,196,200,205,205,195,202,204,207,...,224,224,225,223,220,229,221,223,223,226
top,All Species,..National Capital Region (NCR),..,..,..,..,..,..,..,..,...,..,..,..,..,..,..,..,..,..,..
freq,17,20,99,96,97,94,100,98,102,91,...,92,93,86,89,101,101,102,89,100,91

Similar to the `Value` dataset, we can state that the `Volume` dataset also has the same set of problems.

In [46]:
print(volume_df['Species'].unique())

print(volume_df['Geolocation'].unique())

['All Species' '..Milkfish' '..Tilapia' '..Tiger Prawn' '..Mudcrab'
 '..Endeavor Prawn' '..White Shrimp' '..Grouper' '..Siganid'
 '..P. Vannamei' '..Spiny Lobster' '..Carp' '..Catfish' '..Gourami'
 '..Mudfish' '..Freshwater Prawn' '..Others' '..Oyster' '..Mussel'
 '..Seaweed']
['..National Capital Region (NCR)'
 '..Cordillera Administrative Region (CAR)' '..Region I (Ilocos Region)'
 '..Region II (Cagayan Valley)' '..Region III (Central Luzon)'
 '..Region IV-A (CALABARZON)' '..MIMAROPA Region'
 '..Region V (Bicol Region)' '..Region VI (Western Visayas)'
 '..Region VII (Central Visayas)' '..Region VIII (Eastern Visayas)'
 '..Region IX (Zamboanga Peninsula)' '..Region X (Nothern Mindanao)'
 '..Region XI (Davao Region)' '..Region XII (SOCCSKSARGEN)'
 '..Region XIII (Caraga)'
 '..Bangsamoro Autonomous Region in Muslim Mindanao (BARMM)']

In [47]:
year_quarter_cols = volume_df.columns[2:]

for col in year_quarter_cols:
    filtered_df = volume_df[volume_df[col] == '..']
    print(f'{col}: {filtered_df.shape[0]} / {volume_df.shape[0]} = {(filtered_df.shape[0] / volume_df.shape[0]) * 100}%')

2020 Quarter 1: 99 / 340 = 29.117647058823533%
2020 Quarter 2: 96 / 340 = 28.235294117647058%
2020 Quarter 3: 97 / 340 = 28.52941176470588%
2020 Quarter 4: 94 / 340 = 27.647058823529413%
2021 Quarter 1: 100 / 340 = 29.411764705882355%
2021 Quarter 2: 98 / 340 = 28.823529411764703%
2021 Quarter 3: 102 / 340 = 30.0%
2021 Quarter 4: 91 / 340 = 26.764705882352942%
2022 Quarter 1: 90 / 340 = 26.47058823529412%
2022 Quarter 2: 98 / 340 = 28.823529411764703%
2022 Quarter 3: 92 / 340 = 27.058823529411764%
2022 Quarter 4: 93 / 340 = 27.35294117647059%
2023 Quarter 1: 86 / 340 = 25.294117647058822%
2023 Quarter 2: 89 / 340 = 26.176470588235297%
2023 Quarter 3: 101 / 340 = 29.705882352941178%
2023 Quarter 4: 101 / 340 = 29.705882352941178%
2024 Quarter 1: 102 / 340 = 30.0%
2024 Quarter 2: 89 / 340 = 26.176470588235297%
2024 Quarter 3: 100 / 340 = 29.411764705882355%
2024 Quarter 4: 91 / 340 = 26.764705882352942%

Since there are no columns that has 50% or more `NULL` values, we proceed with KNN imputation.

In [48]:
volume_df = volume_df.replace({'..': np.nan})

In [49]:
impute_df = volume_df.copy()

labeled_species = LabelEncoder()
labeled_geo = LabelEncoder()

impute_df['Species_encoded'] = labeled_species.fit_transform(impute_df['Species'])
impute_df['Geolocation_encoded'] = labeled_geo.fit_transform(impute_df['Geolocation'])

knn_features = pd.concat([
    impute_df[['Species_encoded', 'Geolocation_encoded']]
], axis=1)

for col in year_quarter_cols:
    knn_imputer = KNNImputer(n_neighbors=3)
    imputed_data = pd.DataFrame(
        knn_imputer.fit_transform(pd.concat([knn_features, impute_df[[col]]], axis=1)),
        columns=list(knn_features.columns) + [col]
    )

    volume_df[col] = imputed_data[col]

In [50]:
volume_df['Species'].unique()

array(['All Species', '..Milkfish', '..Tilapia', '..Tiger Prawn',
       '..Mudcrab', '..Endeavor Prawn', '..White Shrimp', '..Grouper',
       '..Siganid', '..P. Vannamei', '..Spiny Lobster', '..Carp',
       '..Catfish', '..Gourami', '..Mudfish', '..Freshwater Prawn',
       '..Others', '..Oyster', '..Mussel', '..Seaweed'], dtype=object)

In [51]:
volume_df['Species'] = volume_df['Species'].str[2:]

In [52]:
volume_df['Geolocation'].unique()

array(['..National Capital Region (NCR)',
       '..Cordillera Administrative Region (CAR)',
       '..Region I (Ilocos Region)', '..Region II (Cagayan Valley)',
       '..Region III (Central Luzon)', '..Region IV-A (CALABARZON)',
       '..MIMAROPA Region', '..Region V (Bicol Region)',
       '..Region VI (Western Visayas)', '..Region VII (Central Visayas)',
       '..Region VIII (Eastern Visayas)',
       '..Region IX (Zamboanga Peninsula)',
       '..Region X (Nothern Mindanao)', '..Region XI (Davao Region)',
       '..Region XII (SOCCSKSARGEN)', '..Region XIII (Caraga)',
       '..Bangsamoro Autonomous Region in Muslim Mindanao (BARMM)'],
      dtype=object)

In [53]:
volume_df['Geolocation'] = volume_df['Geolocation'].str[2:]

In [54]:
volume_df = volume_df.melt(['Species', 'Geolocation'], var_name="Year-Quarter", value_name="Value", ignore_index=True)

In [55]:
volume_df.head()

     Species                             Geolocation    Year-Quarter     Value
0  l Species           National Capital Region (NCR)  2020 Quarter 1    250.84
1  l Species  Cordillera Administrative Region (CAR)  2020 Quarter 1    703.32
2  l Species                Region I (Ilocos Region)  2020 Quarter 1  27212.01
3  l Species              Region II (Cagayan Valley)  2020 Quarter 1   2073.65
4  l Species              Region III (Central Luzon)  2020 Quarter 1  74439.96

In [56]:
volume_df['Year'] = volume_df['Year-Quarter'].str[:4]
volume_df['Quarter'] = volume_df['Year-Quarter'].str[4:]
volume_df.drop(['Year-Quarter'], axis=1, inplace=True)

In [57]:
volume_df.head()

,Species,Geolocation,Value,Year,Quarter
0,l Species,National Capital Region (NCR),250.84,2020,Quarter 1
1,l Species,Cordillera Administrative Region (CAR),703.32,2020,Quarter 1
2,l Species,Region I (Ilocos Region),27212.01,2020,Quarter 1
3,l Species,Region II (Cagayan Valley),2073.65,2020,Quarter 1
4,l Species,Region III (Central Luzon),74439.96,2020,Quarter 1

## Combine both dataset

In [59]:
combined_df = pd.merge(value_df, volume_df, how='inner', on=['Species', 'Geolocation', 'Year', 'Quarter'])

In [60]:

combined_df.head()

,Species,Geolocation,Value_x,Year,Quarter,Value_y
0,Milkfish,National Capital Region (NCR),2.853500e+03,2020,Quarter 1,36.370000
1,Milkfish,Cordillera Administrative Region (CAR),3.503092e+04,2020,Quarter 1,351.713333
2,Milkfish,Region I (Ilocos Region),2.721046e+06,2020,Quarter 1,24495.360000
3,Milkfish,Region II (Cagayan Valley),1.623570e+03,2020,Quarter 1,12.950000
4,Milkfish,Region III (Central Luzon),1.159739e+06,2020,Quarter 1,10972.480000

In [61]:
combined_df.columns

Index(['Species', 'Geolocation', 'Value_x', 'Year', 'Quarter', 'Value_y'], dtype='object')

In [62]:
combined_df.rename({'Value_x': 'Value', 'Value_y': 'Volume'}, axis=1, inplace=True)

Save combined dataset here.

In [63]:
combined_df.to_csv('./Dataset/combined_value_and_volume.csv')